In [6]:
import mysql.connector as connector
from mysql.connector import Error

In [7]:
try:
    connection=connector.connect(user="root",password="1234")
except Error as er:
    print(er.msg)

print("Connection between MySQL and Python is established.\n")

Connection between MySQL and Python is established.

In [8]:
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

Cursor is created to communicate with the MySQL using Python.

In [9]:
cursor.execute("USE LittleLemonDB")
connection.database
print("The database LittleLemonDB is set for use.")

The database LittleLemonDB is set for use.

In [14]:
cursor.fetchall()

show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)

tables = cursor.fetchall()

for table in tables:
    print(table)

('bookings',)
('customers',)
('menuitems',)
('menus',)
('orderdelivery',)
('orders',)
('ordersview',)
('staffs',)

In [23]:
join = """ SELECT c.FullName,
c.Phone,
c.Email,
o.TotalCost
FROM Customers AS c
LEFT JOIN Orders AS o
ON c.CustomerID = o.CustomerID
WHERE o.TotalCost > 60;
"""

In [24]:
cursor.execute(join)